option_settings:
  aws:elasticbeanstalk:container:python:
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_install_streamlit:
    command: "pip install -r requirements.txt"
  02_setup_streamlit_config:
    command: "mkdir -p ~/.streamlit && echo '[server]\nheadless = true\nport = 8080\nenableCORS = false\n' > ~/.streamlit/config.toml"
  03_run_streamlit:
    command: "streamlit run app.py"
